<% if user_signed_in? %>
  <% if @items.count == 0 %>
    <span>No Item</span>
  <% else %>
    <% @items.each do |item| %>
    <h4><%= link_to item.title, item_path(item) %></h4>
    <% end %>
  <% end %>
<% else %>
    <%= link_to "Need an Account", new_user_registration_path %></li>
<% end %>
