<% if user_signed_in? %>
  <% if @items.count == 0 %>
    <span>No Item</span>
  <% else %>
    <table class="table">
      <% @items.each do |item| %>
      <tr class="<%= 'completed' if item.completed_at != nil %>">
        <td><%= link_to '<i class="fa fa-check"></i>'.html_safe, complete_item_path(item), method: :patch %></td>
        <td><%= link_to item.title, item_path(item) %></td>
      </tr>
      <% end %>
    </table>

  <% end %>
<% else %>
    <%= link_to "Need an Account", new_user_registration_path, class: "btn btn-default" %></li>
<% end %>
